<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974831085039-fe5900m097oofv9830n0qcruqgj1hfj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974831085039-fe5900m097oofv9830n0qcruqgj1hfj0</string>
	<key>API_KEY</key>
	<string>AIzaSyDbzxOTQEQt3C2Dpy4ezd8mu7bNh1ShDRI</string>
	<key>GCM_SENDER_ID</key>
	<string>974831085039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dubkoslove.efridge</string>
	<key>PROJECT_ID</key>
	<string>e-fridge-2b715</string>
	<key>STORAGE_BUCKET</key>
	<string>e-fridge-2b715.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974831085039:ios:4c20e2268c726b9af5821a</string>
</dict>
</plist>